.playerStats {
  width: 100%;
  border-top: 1px solid var(--borda);
  padding: 25px 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
}

.playerStats img.playerPhoto {
  width: 70px;
  height: 70px;
}

.playerStats .playerWins {
  font-size: 0.8rem;
}

.playerStats .playerCards > img {
  margin: 0px 10px;
  cursor: default;
}