.playerStats {
  min-height: 148px;
  width: 100%;
  border-top: 1px solid var(--borda);
  padding: 25px 50px;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr) minmax(auto, 5fr);
  align-items: center;
}

.playerStats .playerWins {
  font-size: 0.8rem;
}

.playerStats .playerCards {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.playerStats .playerCards > img {
  margin: 0px 10px;
  cursor: default;
}