.stats {
  width: minmax(700px, 100%);
  width: 60%;
  display: block;
}

.stats .title {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 100px auto;
  justify-content: space-around;
  min-width: 100%;
}