.stats {
  width: 1000px;
  display: block;
  justify-content: start;
}

.stats .title {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  min-width: 100%;
}