.stats {
  min-width: 700px;
  width: 60%;
  display: block;
  margin: 0px 5px;
}

.stats .title {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  min-width: 100%;
}