:root {
  --borda: #DBE9F5;
  --escuro: #172B3E ;
  --primario: #0088FF ;
  --primario-claro: #AACBE7 ;
  --primario-escuro: #2369A6 ;
  --carta-verde: #55AA55;
  --carta-amarela: #FFAA00;
  --carta-vermelha: #FF5555;
  --carta-azul: #5555FF;
  font-size: 30px;
  color: var(--escuro);
  font-family: 'CircularStd';
  font-weight: 300;
  --hover: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --sombra: 0px 4px 6px rgba(31, 70, 88, 0.199);
  --selecionado: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd'), url(./fonts/CircularStd-Black.ttf) format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd'), url(./fonts/CircularStd-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd'), url(./fonts/CircularStd-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd'), url(./fonts/CircularStd-Book.ttf) format('truetype');
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #fafafa;
  align-items: center;
}

img#logo {
  width: 125px;
  position: absolute;
  top: 0;
  margin: 5px;
}

img.playerPhoto {
  width: 70px;
  height: 70px;
}

h1 { 
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 0.9rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.6rem;
}

h5 {
  font-size: 0.5rem;
}

.card {
  background: #FFFFFF;
  border: 1px solid #DBE9F5;
  box-sizing: border-box;
  box-shadow: var(--sombra);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 5px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.preenchido {
  background-color: var(--escuro);
  border: none;
  border-radius: 20px;
  padding: 15px 32px;
  cursor: pointer;
  color: white;
  font-family: 'CircularStd';
  font-size: 0.8rem;
}

.preenchido:hover {
  box-shadow: var(--hover);
}

.primario {
  color: var(--primario);
}

.carta {
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.carta:hover {
  box-shadow: var(--hover);
}

.selecionado {
  filter: brightness(1.2);
  box-shadow: var(--selecionado);
}

.amarelo {
  fill: var(--carta-amarela);
}

.azul {
  fill: var(--carta-azul);
}

.verde {
  fill: var(--carta-verde);
}

.vermelho {
  fill: var(--carta-vermelha);
}