.addCard {
  width: 600px;
  height: 600px;
  padding: 30px 20px;
}

.espacado {
  display: flex;
  justify-content: space-between;
}

.addCard #cores {
  width: 275px;
  cursor: pointer;
}

.addCard img:hover {
  box-shadow: var(--hover);
}

.addCard #jogadores {
  width: 90%;
  cursor: pointer;
}

.addCard #jogadores img {
  width: 60px;
  height: 60px;
}

.addCard #selectCard {
   display: flex;
   width: 65%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}

.circular {
  border-radius: 50%;
}