.addCard {
  width: auto;
  height: 600px;
  padding: 30px 20px;
}

.espacado {
  display: flex;
  justify-content: space-between;
}

.addCard #cores {
  width: 275px;
  cursor: pointer;
}

.addCard img:hover {
  box-shadow: var(--hover);
}

.addCard #jogadores {
  max-width: 350px;
}

.addCard #jogadores img {
  width: 60px;
  height: 60px;
  margin: 0px 5px;
  cursor: pointer;
}

.addCard #selectCard {
   max-width: 250px;
}

.addCard .grupos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.circular {
  border-radius: 50%;
}